%table{border: "0"}
  %tr
    %td  
  %tr
    %td  
  %tr
    %td  
  %tr
    %td  
  %tr
    %td  
  %tr
    %td  
  %tr
    %td
      %img{alt: "amy text pic", border: "0", src: "_img/home_title copy2.png"}/
  %tr
    %td  
  %tr
    %td  
  %tr
    %td  
  %tr
    %td
      %div{align: "right"}
        %a{href: "http://amygirondaupcoming.tumblr.com/"}
          %img{alt: "events", border: "0", src: "_img/home_eventscalendar copy2.png"}/
  %tr
    %td
      %div{align: "right"}
  %tr
    %td
      %div{align: "right"}
        %a{href: "headshot.htm", target: "_blank"}
          %img{alt: "headshot", border: "0", src: "_img/home_headshot copy2.png"}/
  %tr
    %td
      %div{align: "right"}
  %tr
    %td
      %div{align: "right"}
        %a{href: "agresume2010.pdf", target: "_blank"}
          %img{alt: "resume", border: "0", src: "_img/home_resume copy2.png"}/
  %tr
    %td
      %div{align: "right"}
  %tr
    %td
      %div{align: "right"}
        %a{href: "http://soundsandvisions.tumblr.com/"}
          %img{alt: "home", border: "0", src: "_img/home_snv copy2.png"}/
  %tr
    %td
      %div{align: "right"}
  %tr
    %td
      %div{align: "right"}
        %a{href: "mailto:amy.gironda@gmail.com"}
          %img{alt: "contact", border: "0", src: "_img/home_contact copy2.png"}/